<section id="rnd-skillz">
	<div class="container">
		<div class="row">
			
			<div class="col-md-4 col-sm-6 rnd-skillz-chunk">
				<img class="" src="img/skillz-user-experience.png">
				<h3>User Experience</h3>
				<p>My kid is like so safe. He’s only like 14 years old and stuff but I let him just run wild like a littler turkey dove all around that place. I love that all the other climbers do my mom dutys for me!</p>
			</div>
			
			<div class="col-md-4 col-sm-6 rnd-skillz-chunk">
				<img class="" src="img/skillz-user-experience.png">
				<h3>Front End Development</h3>
				<p>My kid is like so safe. He’s only like 14 years old and stuff but I let him just run wild like a littler turkey dove all around that place. I love that all the other climbers do my mom dutys for me!</p>
			</div>
			
			<div class="col-md-4 col-sm-6 rnd-skillz-chunk">
				<img class="" src="img/skillz-user-experience.png">
				<h3>Rapid Prototyping</h3>
				<p>My kid is like so safe. He’s only like 14 years old and stuff but I let him just run wild like a littler turkey dove all around that place. I love that all the other climbers do my mom dutys for me!</p>
			</div>
			
			<div class="col-md-4 col-sm-6 rnd-skillz-chunk">
				<img class="" src="img/skillz-user-experience.png">
				<h3>App Design</h3>
				<p>My kid is like so safe. He’s only like 14 years old and stuff but I let him just run wild like a littler turkey dove all around that place. I love that all the other climbers do my mom dutys for me!</p>
			</div>
			
			<div class="col-md-4 col-sm-6 rnd-skillz-chunk">
				<img class="" src="img/skillz-user-experience.png">
				<h3>Conceptualizing</h3>
				<p>My kid is like so safe. He’s only like 14 years old and stuff but I let him just run wild like a littler turkey dove all around that place. I love that all the other climbers do my mom dutys for me!</p>
			</div>
			
			<div class="col-md-4 col-sm-6 rnd-skillz-chunk">
				<img class="" src="img/skillz-user-experience.png">
				<h3>Research</h3>
				<p>My kid is like so safe. He’s only like 14 years old and stuff but I let him just run wild like a littler turkey dove all around that place. I love that all the other climbers do my mom dutys for me!</p>
			</div>
			
		</div>
	</div>
</section>
