<section id="rnd-hero">
	<div class="rnd-mask">
	
	<!-- Navigation -->
	{% include rnd-navigation.html %}

	<!-- Tagline -->
		<div class="container rnd-tagline-wrapper">
			
			<div class="rnd-tagline-holder">
				<p class="rnd-tagline-subtext">Web applications & solutions for</p>
				<h1 class="rnd-tagline">Modern Healthcare</h1>
			</div>
			<div class="">
				<div class="rnd-hero-more-info">
					<p>Hey</p>
				</div>
				<div class="rnd-hero-affilliation">
					<img src="">
				</div>
			</div>
			
		</div>

	</div>
</section>