
<section id="rnd-mission">
	<div class="container">
		<div class="row">
			<div class="col-md-7 rnd-mission-statement">
				<h2>We strive for a beautiful, unified experience.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in reprehenderit in voluptate.</p>
			</div>
			<img id="rnd-mission-img" src="img/mission-img.png">
		</div>
		
		<div class="row">
			<!-- Quotes -->
			<div class="col-md-7">
				<article id="slider">
					<!-- Slider Setup -->
					<input checked="" type="radio" name="slider" id="slide1">
					<input type="radio" name="slider" id="slide2" selected="true">
					<input type="radio" name="slider" id="slide3" selected="true">
					<input type="radio" name="slider" id="slide4" selected="true">
					<input type="radio" name="slider" id="slide5">

					<!-- The Slider -->

					<div id="slides">
						<div id="overflow">
							<div class="inner">
								
								<article class="rnd-mission-quote slide1">
									<img src="img/mission-quote-joe.png">
									<p>" Easy. Breazy. Beautiful. Explosion. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet. " <br/><span class="right">- Joe Jacobellis</span></p>
								</article>
								
								<article class="rnd-mission-quote slide2">
									<img src="img/mission-quote-logan.png">
									<p>" My kid is like so safe. He’s only like 14 years old and stuff but I let him just run wild like a littler turkey dove all around that place. I love that all the other climbers do my mom dutys for me! "<br/><span class="right">- Logan Hartline</span></p>
								</article>

								<article class="rnd-mission-quote slide3">
									<img src="img/mission-quote-colin.png">
									<p>" I enjoy pooping myself! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "<br/><span class="right">- Colin Ambrose  </span></p>
								</article>

							</div> <!-- .inner -->
						</div> <!-- #overflow -->
					</div> <!-- #slides -->
						
					<!-- Controls and Active Slide Display -->
					<div id="controls">
						<label for="slide1"></label>
						<label for="slide2"></label>
						<label for="slide3"></label>
					</div> <!-- #controls -->

					<div id="active">
						<label for="slide1"></label>
						<label for="slide2"></label>
						<label for="slide3"></label>
					</div> <!-- #active -->
						
				</article>
			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- .container -->

</section>