<section id="rnd-hero">
	<div class="rnd-hero-content">
	
	<!-- Navigation -->
	{% include rnd-navigation.html %}

	<!-- Tagline -->
		<div class="container rnd-tagline-wrapper">
			
			<div class="rnd-tagline-holder row">
				<h1 class="rnd-tagline col-md-12">Class &amp; Event Registration</h1>
			</div>
			
			<div class="col-md-12">
				<div class="rnd-hero-more-info">
					<p>Patients now have the ability to search, register and pay for a hospital class or event.</p>
				</div>
				<div class="rnd-hero-more-info">
					<p class="smaller">Check your local something or other for a live demo, or check out the prototype if you wanna just mess around with it.</p>
				</div>
			</div>
		</div>

		<div class="thingy">
			<img src="/img/rnd-hero-ipad.png">
		</div>
	</div>
</section>