<div class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="#">
				<!-- <img class="rnd-logo" src="/img/rnd-buixld-logo.png"> -->
			</a>
		</div>
		
		<nav class="rnd-push-nav-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
			<span id="closeRight" class="fa fa-bars"></span>
			<a href="/index.html">Home</a>
			<a href="/#rnd-team">About</a>
			<a href="/blog/">Blog</a>
			<a href="/#rnd-team">The Team</a>
			<a href="http://hcastyles.com/">HCA Style Guide</a>
			<a href="/class-events/">Classes & Event</a>
			<a href="/findadoc/">Find a Doc</a></li>
			
			<div class="push-nav-fancy-text">
				<a class="http://community.ehc.com/">Help &amp; Support</a>
				<a class="http://hcastyles.com/philosophy/">Our Philosphy</a>
			</div>
			
			<div class="push-nav-social">
				<ul>
					<li><a class="rnd-icon-twitter" href="" alt="twitter"></a></li>
					<li><a class="rnd-icon-behance" href="" alt="behance"></a></li>
					<li><a class="rnd-icon-instagram" href="" alt="instagram"></a></li>
				</ul>
			</div>
		</nav>
			
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/index.html">Home</a></li>
				<li><a href="/#rnd-team">About</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="http://hcastyles.com/">HCA Style Guide</a><li>
						<li><a href="/class-events/">Classes & Event Registration</a></li>
						<li><a href="/findadoc/">Find a Doc</a></li>
					</ul>
				</li>
				<li><a id="showRightPush">Menu <i class="fa fa-bars"></i></a></li>
			</ul>
		</div>
			
	</div> <!-- /container -->
</div> <!-- /navbar -->